<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home do Aplicativo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Bem-vindo à Home do Aplicativo!</h1>
    <h3>Requisições recentes:</h3>
    <div id="logs">
        {% for log in logs %}
            <p><b>{{ log.method }}</b> {{ log.path }} - {{ log.location }}</p>
        {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
